.user-info {
    text-align: center;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    width: 50rem;
}
.button {
    width: 15rem;
    background-color: #15505B;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}
.button:hover {
    background-color: #0f3f4e;
}

.profil {
  height: 17rem;
}

.updateProfil {
    height: 25rem;
    display: flex;
    justify-content: center;
}

.input_update {
    width: 20rem;
}

.user_main {
    display: flex;
    justify-content: center;
}

.admin_info {
    display: flex;
    align-items: center;
    gap: 5rem;
}

.admin_title {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.main_admin {
    overflow-x: hidden;
    display: flex;
    justify-content: center;
}

.user_infos {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.admin_btn {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}